.wrap {
    width: 1000px;
    height: 1000px;
}
.rot{
    transform: rotate(180deg);
}
.size {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}
.column{
    float: left;
}
.text {
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
}
.white{
    background: white;  
    border: solid 1px;
}
.black {
    background: grey;
    border: solid 1px;
}

img {
    height: 100%;
    
}